<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>


<%= form_for(@heroine) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :super_name %>
<%= f.text_field :super_name %>
<%= collection_select(:heroine, :power_id, Power.all, :id, :name, prompt: true) %>
<%= f.submit :"create heroine" %>
<% end %>